<div class="col-span-1 flex justify-center bg-gray-50 py-8 px-8">
<a href="{{.Get `href` }}" target="{{.Get `target` }}" rel="noopener"><svg class="my-4 max-w-8 fu-branding-facebook-icon--bg" viewBox="0 0 24 24"><path class="fu-branding-facebook-icon--color" fill="#000000" d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" /></svg></a>
</div>

{{/*  inline-flex items-center rounded border border-transparent bg-rose-600 px-2.5 py-1.5 text-xs font-medium text-white shadow-sm hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-rose-500 focus:ring-offset-2  */}}